html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  user-select: none;
}

.rectangle {
  background-color: #CCCCCC;
  height: 40vw;
  width: 60vw;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 2s;
  cursor: pointer;
}

.rectangle.locked {
  background-color: #CCFFCC;
}

.info {
  font-size: 6vw;
  text-align: center;
}

.info.error {
  color: #FF7777;
}
